.upload-container {
  max-width: fit-content;
  margin: auto;
  text-align: center;
}

.overflow-filename {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}
